<footer>
    <ul class="icons list-unstyled">
        <li>
            <a href="https://github.com/roseminted" class="icon github-icon">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/yasmin-khaleel-44b7a940" class="icon linkedin-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/yasmin.khaleel" class="icon facebook-icon">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="mailto:ynkhaleel@gmail.com" class="icon email-icon">
                <i class="far fa-envelope"></i>
            </a>
        </li>

    </ul>
    <span class="copyright">
        <a href="/">&copy; Yasmin Khaleel</a>
    </span>
    <div class="backToTopButton">
        <a href="#" id="backToTop" aria-label="Scroll to top"><i class="fas fa-chevron-up"></i></a>
    </div>
</footer>