<!-- Sidebar -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-right"></i>
    </div>
    <header class="sidebar-header">
        <h3>Yasmin Khaleel</h3>
    </header>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/" class="navLink">Home</a>
        </li>
        <li>
            <a href="#about" class="navLink">About</a>
        </li>
        <li>
            <a href="/resume" class="navLink">Resume</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Projects</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/amazontheraputics">Amazon Theraputics</a>
                </li>
                <li>
                    <a href="/uscampingandhiking">US Camping &amp; Hiking</a>
                </li>
                <li>
                    <a href="/portfolio">Portfolio</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/contact" class="navLink">Contact</a>
        </li>
    </ul>
</nav>