<% layout('layouts/boilerplate') %>
<section>
    <h1>Contact</h1>
    <p>
        Ut eget condimentum turpis. Integer pellentesque, risus et laoreet ultrices, arcu ipsum volutpat
        quam, eget dictum quam dui efficitur turpis. Mauris erat metus, aliquam et scelerisque a, malesuada
        nec nibh. Pellentesque vel viverra tellus. Nullam dapibus arcu nec augue fringilla feugiat. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac
        habitasse platea dictumst. Donec vitae efficitur est, sit amet hendrerit ligula. Proin tincidunt
        ipsum placerat odio aliquam tincidunt. Integer vel tellus egestas, molestie nunc auctor, hendrerit
        augue.

        Mauris at pulvinar massa. Cras scelerisque pharetra semper. Fusce sed ipsum a purus feugiat iaculis
        ac quis urna. Mauris at fermentum diam. Nunc luctus sit amet sem in interdum. Vestibulum facilisis
        elementum lectus et vehicula. Ut at tempus libero. Proin eget luctus neque. Maecenas lobortis
        laoreet massa in imperdiet. Etiam tempor sollicitudin mauris, ac consectetur dui sagittis id.
        Praesent tempor varius volutpat. Praesent mollis sem et felis luctus sodales in id ipsum. Cras
        tempus sem sed quam bibendum, nec porta ligula tincidunt.
    </p>
</section>