<% layout('layouts/boilerplate') %>

<div class="container resume">
    <a href="https://docs.google.com/document/d/1cMcQH5ExD5v_17EPfd_bER92lVGMisE1JYWSXaIst8Y/edit?usp=sharing">
        Click here to download
    </a>
    <iframe
        src="https://docs.google.com/document/d/e/2PACX-1vTI3YTDHRVEn8ifwNK-JQLTHnoWV52i5TZOHsIfa3gGLa4niAmRhmHu_xMH2x8DRTcxNEaZumMsnwNI/pub?embedded=true">
    </iframe>
</div>