<% layout('layouts/boilerplate') %>

    <div class="container resume text-center">
        <a href="https://docs.google.com/document/d/1nhVU9ujB1HgXGDgsmhjya8wnaHaSbWKhRHhwTd7qoMI/edit?usp=sharing"
            target="_blank">
            Click here to download
        </a>
        <iframe
            src="https://docs.google.com/document/d/e/2PACX-1vRQHCIyXPavNEVwIzm5M69lz0oqtq0WWWQ7C-ImbExRgz5enZE7VLJIrRtL03rHssh49wSJOtvSvwQO/pub?embedded=true">
        </iframe>
    </div>