html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Courier New', monospace;
    background-color: #f1f1f1;
    color: #564256;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    NAV STYLE
----------------------------------------------------- */

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
    background: #287f97;
}
.navbar-brand {
    font-size: 1.8em;
    padding-left: 1%;
    border: none;
}

.navbar-brand:hover {
    color: #B88C9E;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
}

.btn {
    font-size: 1.6em;
    color: #564256;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
}

.btn:hover {
    color: #B88C9E;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
}
/* ---------------------------------------------------
    SIDEBAR MENU STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #076585;
    color: #f1f1f1;
    transition: all 0.5s;
    overflow-y: scroll;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #076585;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #f1f1f1;
    color: #076585;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #076585;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #076585;
}

#sidebar ul p {
    color: #f1f1f1;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #B88C9E;
    background: #f1f1f1;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #B88C9E;
    background: #f1f1f1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #076585;;
}

.sidebar-header {
    margin-top: 1.8em;
    margin-left: 1.8em;
}
.sidebar-header h3 {
    font-size: 2.5rem;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
   RESUME PAGE
----------------------------------------------------- */

iframe {
    width: 100%;
    height: 100vh; 
}

.resume a {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.7em;
    margin: auto;
}

.resume a:hover {
    color: #B88C9E;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
}
/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

footer {
    background: #287f97;
    text-align: center;
    padding: 6em 0 4em 0;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
}

/* Icons */

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
    font-size: 1.45em;
    color: #564256;
}
ul.icons li:hover{
    color:#B88C9E;
}

ul.icons li:last-child {
    padding-right: 0 !important;
}

.copyright {
    color: #564256;
    font-size: 1.3em;
    letter-spacing: 0.225em;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}
.copyright:hover {
    color: #B88C9E;
}

/* ---------------------------------------------------
    SCROLL TO TOP BUTTON
----------------------------------------------------- */

#backToTop {
    color: #2980b9;
    display: none;
    line-height: 40px;
    position: fixed;
    bottom: 15rem;
    right: 45px;
    width: 4px;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
}

#backToTop:hover {  
    color: #564256;
}