html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Courier New', monospace;
    background-color: #41464a;
    color: #f1f1f1;
}


/* ---------------------------------------------------
    BANNER STYLE
----------------------------------------------------- */

body .header {
    background: radial-gradient(#27032b, #100112);
}

.banner-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.bannerLinks {
    font-size: 1.5rem;
    margin-top: 75px;
}

.button {
    border: 2px solid black;
    background-color: #726E97;
    color: #27032b;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    border: 2px solid #50C5B7;
    color: #50C5B7;
}

.resumeLink {
    padding-right: 30px;
}

@media only screen and (max-width: 450px) {
    #banner .description {
        font-size: 2.5rem;
    }
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
}
.navbar-brand {
    font-size: 1.8em;
    padding-left: 1%;
    border: none;
    color: #726E97;
}

.navbar-brand:hover {
    color: #50C5B7;
}

.btn {
    font-size: 1.6em;
    color: #726E97;
}

.btn:hover {
    color: #50C5B7;
}

.fixed-top.scrolled{
	background: #100112;
	transition: background 500ms;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #726E97;
    color: #f1f1f1;
    transition: all 0.5s;
    overflow-y: scroll;
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #726E97;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    color: #50C5B7;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #726E97;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #726E97;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #50C5B7;
    background: #f1f1f1;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #50C5B7;
    background: #f1f1f1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #726E97;;
}

.sidebar-header {
    margin-top: 1.8em;
    margin-left: 1.8em;
}
.sidebar-header h3 {
    font-size: 2.5rem;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    LETTER ANIMATIONS
----------------------------------------------------- */
#banner .banner-text,.description {
    text-shadow: 0 0.7rem 0.7rem rgba(0, 0, 0, 0.9);
}

.banner-text {
    position: relative;
    font-weight: 200;
    font-size: 4em;
}

.banner-text .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.banner-text .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}

.description {
    font-size: 3rem;
    font-weight: 200;
}


/* ---------------------------------------------------
    ABOUT SECTION
----------------------------------------------------- */
.dividers {
	border-top: 5px solid #50C5B7;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 0;
}

.section-two {
    padding: 6%;
    background-color: #2e2b2e;
}
.frame {
    background-color:  #27032b;
}

#pic {
    width: 63%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    transform: rotate(-20deg);
    border: 1px solid #726E97;
    border-radius: 4px;
    padding: 5px;
}

@media only screen and (max-width: 992px) {
    .frame {
      display: none;
    }
}

.aboutText {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.7em;
    margin: auto;
    padding-left: 5%
}

@media only screen and (max-width: 992px) {
    .aboutText {
      margin: 6%;
    }
}

/* colorful text */

.aboutText span {
    -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: blue;
    }
    10% {
        color: #564256;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: #076585;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: blue;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: #B88C9E;
    }
}


/* ---------------------------------------------------
    PROJECTS SECTION
----------------------------------------------------- */

.projects {
    padding-top: 3.5%;
    padding-right: 4.5%;
    padding-left: 4.5%;
    padding-bottom: 6%;
    background-color: #2e2b2e;
}

.card-img-top {
    height: 18rem;
    object-fit: cover;
}

.projects h3 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.7em;
    color: #50C5B7;
    margin-bottom: 2%;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.card-title {
    font-size: 1.8em;
    line-height: 1.7em;
    margin: auto;
    color: #726E97;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.9em 0.9em -0.4em rgba(80, 197, 183, 0.9);
  transform: translateY(-0.75em);
}

@media only screen and (max-width: 992px) {
    .col-lg-4 {
      margin-bottom: 5%;
    }
}


/* ---------------------------------------------------
    SKILLS SECTION
----------------------------------------------------- */
.skills-tools {
    margin-top: 6%;
    margin-right: 4.5%;
    margin-left: 4.5%;
    margin-bottom: 6%;
    background: #2e2b2e;
}

.list-group {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-auto-flow: column;
}

@media only screen and (max-width: 1200px) {
    .list-group {
        display: grid;
        grid-template-rows: repeat(6, min-content);
        grid-auto-flow: column;
    }
}

@media only screen and (max-width: 768px) {
    .list-group {
        display: grid;
        grid-template-rows: repeat(11, min-content);
        grid-auto-flow: column;
    }
}

.list-group-item {
    background-color: #2e2b2e;
    border: none;
    padding: 3%;
}

.skills-tools h3 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.7em;
    margin: auto;
    color: #50C5B7;
    text-shadow: 0 0.1rem 0.05rem rgba(0, 0, 0, 0.5);
}

.skills-tools li {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.7em;
    margin: auto;
    color: #726E97;
    text-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
}
.divideSkills {
	width: 80%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* ---------------------------------------------------
    CONTACT SECTION
----------------------------------------------------- */
.contact {
    margin-top: 3.5%;
    margin-right: 4.5%;
    margin-left: 4.5%;
    margin-bottom: 6%;
}

.contact h3 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.7em;
    color: #50C5B7;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}


.contact p {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.7em;
}

.contact-email {
    color: #726E97;
}

.contact-email:hover {
    color: #50C5B7;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

footer {
    background-color: #100112;
    text-align: center;
    padding: 6em 0 4em 0;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);
}

/* Icons */

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
    font-size: 1.45em;
    color: #726E97;
}
ul.icons li:hover{
    color:#50C5B7;
}

ul.icons li:last-child {
    padding-right: 0 !important;
}

.copyright {
    color: #726E97;
    font-size: 1.3em;
    letter-spacing: 0.225em;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    text-shadow: 0 0.1rem 0.5rem rgba(7, 101, 133, 0.5);

}
.copyright:hover {
    color: #50C5B7;
}

.footerdivider {
	border-top: 5px solid #50C5B7;
    margin: 0;
}

/* ---------------------------------------------------
    LOADER STYLE
----------------------------------------------------- */

.loader-wrapper {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center; 
    background-color: #27032b;
}
  
svg.tea {
    --secondary: #726E97;
}

#teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
}

#steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
}

#steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
}


@keyframes swing {
    50% {
        transform: rotate(-3deg)
    }   
}
  
@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: .6;
    } 
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
  } 
}
  

@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: .6;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    } 
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }    
}