<% layout('layouts/boilerplate') %>
<div class="project">
    <h1>Amazon Theraputics</h1>
    <div class="row">
        <div class="col-6">
            <img src="/images/deleteFromDatabase.gif" alt="">
        </div>
        <div class="col-6">
            <p>Brief description</p>
        </div>
    </div>
</div>