<% layout('layouts/boilerplate') %>

<div class="project portfolio">
    <h1 class="mb-3">Portfolio</h1>
    <div class="row">
        <div class="col-md-6 main">
            <section>
                <img class="image-main" src="/images/portfolio.png" alt="">
                <div class="links-container py-2">
                    <div class="project-links">
                        <a class="live-demo" href="/">
                            Home Page
                        </a>
                    </div>
                    <div class=" project-links">
                        <a class="source-code" href="https://github.com/roseminted/Portfolio" target="_blank">Source
                            Code
                        </a>
                    </div>
                </div>
            </section>
            <section class="techsused_container">
                <h6>Technologies Used</h6>
                <ul class="techsused">
                    <li>Bootstrap 4</li>
                    <li>ExpressJS</li>
                    <li>NodeJS</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                </ul>
            </section>
        </div>
        <div class="col-md-6 description-features">
            <section class="features">
                <h6>Notable Features</h6>
                <ul class="notable-features">
                    <li>Responsive Design</li>
                    <li>Animations</li>
                    <li>Semantic Markup</li>
                    <li>Performance across devices</li>
                </ul>
            </section>
            <section class="description">
                <h6>Description</h6>
                <p>
                    A portfolio with all of the key features and responsive design.
                </p>
                <p>
                    Simple, clean visuals, and a gradient color scheme. This portfolio uses bold and animated
                    typography to highlight priorities and display some of my craft.
                </p>
            </section>
        </div>
    </div>
    <div class="row text-center">
        <section class="gifs-container">
            <img class="gifs" src="/images/addReview.gif" alt="Add A Review">
            <img class="gifs" src="/images/ClusterMap.gif" alt="Cluster Map">
            <img class="gifs" src="/images/deleteCampground.gif" alt="Delete Campground">
            <img class="gifs" src="/images/integrateMapboxAPI.gif" alt="Integrated Mapbox">
            <img class="gifs" src="/images/userLoginAndFormValidations.gif" alt="Login and Form Validation">
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- The Close Button -->
                <span class="close">&times;</span>
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
        </section>
    </div>
</div>